extends javascript, vue

# Personal ES6 version of vue snippets. 
# It is and extended version following ES6 rules. 
# vue.snippets from vim-snippets isn't too complete, so i extend with this file.

snippet vuef
	${1:function_name} (${2}) {
		${0:${VISUAL}}
	}
endsnippet
